.main-nav{
    margin-bottom: 2rem;
    width: 100%;
    text-align: left;
    background-color: lightblue;
    color: lightslategray; 	
}

.main-nav-active{
    background-color: khaki;
    color: yellowgreen;
    margin-left: -20px;
}

.player{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -60px;
    width: 300px;
}