.main-nav{
    margin-bottom: 2rem;
    width: 100%;
    text-align: left;
    background-color: #B0D5FF;
    color: #506D8D; 
    border: 1px solid #D6E9FF;	
    text-align: center;
}

.main-nav-active, .main-nav:hover{
    background-color: #FFFF99;
    color: #8C8C00;
    margin-left: -20px;
    border: 1px solid #FFFFFF;
}

.player{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -60px;
    width: 300px;
}

#body {
    background-color: #F3FFFF;
    border: 4px solid #AFCFFF !important;
    border-radius: 15px !important;
}

#content {
    background-color: #FFFFFF;
    border-radius: 15px !important;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
}

a > img:hover{
    filter: drop-shadow(8px 8px 10px gray);
}
label {
    padding: 10px 15px;
    background: #ffc0cb;
    color: #4D4D4D;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    -webkit-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #D6E9FF;	
}
input[name=content] {
    display:none;
}
input[name=content] +div {
    display:none;
}
input[name=content]:checked +div {
    display:block;
}

.btn-block, .btn-block:hover, .btn-block:active, .btn-block:after{
    background-color: #f1c40f;
    border-color: #f1c40f;
    color:#FFFFFF;
}

.contri-btn{
    margin-bottom: 2rem;
    width: 100%;
    text-align: left;
    background-color: #f1c40f;
    color: #FFFFFF; 
    border: 1px solid #f1c40f;	
    text-align: center;
}

